<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.megogrid.megoshop"
    android:versionCode="1"
    android:versionName="1.1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- InApp Permissions Start -->
    <!-- Define app package name in place of mig.app.creditsystem for permissions and in the gcm receiver -->

    <permission
        android:name="migi.app.diabetes.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- This app has permission to register and receive data message. -->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- Optional permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.sec.android.iap.permission.BILLING" />
    <uses-permission android:name="com.nokia.payment.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shop"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        tools:replace="icon, theme">

        <!-- Manifest entries required for MePro STARTS here -->
        <!-- Service required-->
        <service android:name="com.megogrid.merchandising.service.RequestIntentService" />
        <service android:name="com.megogrid.merchandising.service.UpdateCountIntentService" />
        <service android:name="com.megogrid.merchandising.handler.PendingRequestManager" />

        <!--Receiver required-->
        <receiver android:name="com.megogrid.merchandising.receiver.MaxResetReceiver" />
        <receiver android:name="com.megogrid.merchandising.receiver.LimitResetReceiver" />

        <!--Activities required-->
        <activity
            android:name="com.megogrid.merchandising.MeShopActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.megogrid.merchandising.subscription.SubscriptionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.megogrid.merchandising.buy.credits.BuyCreditsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />


        <!-- Manifest entries required for MePro ENDS here -->

        <activity
            android:name="com.megogrid.megoshop.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.megogrid.megoshop.PhotoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.megogrid.megoauth.history.AppHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.megogrid.megoshop.SplashActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.megogrid.megoshop.ConnectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.megogrid.megoshop.share.GalleryAlbumActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.megogrid.megoshop.share.ShowAlbumImagesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="278504ade0548e5bfd9bc28d1f30ef071227bf6b" />

        <activity
            android:name="com.megogrid.megoshop.share.Help"
            android:label="@string/title_activity_help"></activity>
    </application>

</manifest>
